<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<!-- 配置扫描包路径 -->
	<context:component-scan base-package="com.nit.jobsite.controller" />
	
	<!-- 开启mvc注解 -->
	<mvc:annotation-driven />
	<!-- 登录Session拦截器 -->
<!--  	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/001pages/manage/ddd/*" />
			<bean class="com.nit.jobsite.utils.SessionInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>  -->
	

	<!-- 允许对静态资源文件的访问 -->
	<mvc:default-servlet-handler />



</beans>