<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-jms-4.2.xsd">

	<!-- 设置Spring支持注解 -->

	<context:annotation-config />

	<!-- 设置当前项目的根包 -->
	<context:component-scan base-package="com.nit.jobsite" />

	<!-- 获取c3p0数据库连接池配置 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:config/jdbc.properties</value>
		</property>
	</bean>

	<!-- 配置c3p0数据源连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialPoolSize" value="${connection.initialPoolSize}" />
		<property name="minPoolSize" value="${connection.minPoolSize}" />
		<property name="maxPoolSize" value="${connection.maxPoolSize}" />
		<property name="acquireIncrement" value="${connection.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${connection.acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${connection.acquireRetryDelay}" />
		<property name="maxIdleTime" value="${connection.maxIdleTime}" />
		<property name="idleConnectionTestPeriod" value="${connection.idleConnectionTestPeriod}" />
		<property name="maxStatements" value="${connection.maxStatements}" />
		<property name="maxStatementsPerConnection" value="${connection.maxStatementsPerConnection}" />
		<property name="preferredTestQuery" value="select 1" />
		<property name="breakAfterAcquireFailure" value="true" />
		<property name="testConnectionOnCheckout" value="false" />
	</bean>
<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis.xml"></property>
		<property name="mapperLocations" value="classpath:com/nit/jobsite/mapping/*.xml" />
	</bean>
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	
	<property name="maxUploadSize" value="1024000"></property>
	
	<property name="defaultEncoding" value="utf-8"/><!--属性：编码-->
	
	</bean>
<!-- 自动扫描所有的Mapper接口与文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.nit.jobsite.dao" />
	</bean>

	<!-- 配置Spring的事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- 注解支持事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>