<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nit.jobsite.dao.PictureMapper">
  <resultMap id="BaseResultMap" type="com.nit.jobsite.model.Picture">
    <id column="PictureID" jdbcType="INTEGER" property="pictureID" />
    <result column="PictureURL" jdbcType="VARCHAR" property="pictureURL" />
    <result column="MemberID" jdbcType="INTEGER" property="memberID" />
    <result column="PictureType" jdbcType="VARCHAR" property="pictureType" />
  </resultMap>
  <sql id="Base_Column_List">
    PictureID, PictureURL, MemberID, PictureType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_picture
    where PictureID = #{pictureID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_picture
    where PictureID = #{pictureID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nit.jobsite.model.Picture">
    <selectKey keyProperty="pictureID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_picture (PictureURL, MemberID, PictureType
      )
    values (#{pictureURL,jdbcType=VARCHAR}, #{memberID,jdbcType=INTEGER}, #{pictureType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nit.jobsite.model.Picture">
    <selectKey keyProperty="pictureID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pictureURL != null">
        PictureURL,
      </if>
      <if test="memberID != null">
        MemberID,
      </if>
      <if test="pictureType != null">
        PictureType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pictureURL != null">
        #{pictureURL,jdbcType=VARCHAR},
      </if>
      <if test="memberID != null">
        #{memberID,jdbcType=INTEGER},
      </if>
      <if test="pictureType != null">
        #{pictureType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nit.jobsite.model.Picture">
    update tb_picture
    <set>
      <if test="pictureURL != null">
        PictureURL = #{pictureURL,jdbcType=VARCHAR},
      </if>
      <if test="memberID != null">
        MemberID = #{memberID,jdbcType=INTEGER},
      </if>
      <if test="pictureType != null">
        PictureType = #{pictureType,jdbcType=VARCHAR},
      </if>
    </set>
    where PictureID = #{pictureID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nit.jobsite.model.Picture">
    update tb_picture
    set PictureURL = #{pictureURL,jdbcType=VARCHAR},
      MemberID = #{memberID,jdbcType=INTEGER},
      PictureType = #{pictureType,jdbcType=VARCHAR}
    where PictureID = #{pictureID,jdbcType=INTEGER}
  </update>
  <select id="getPicturesByID" parameterType="java.lang.Integer" resultType="java.lang.String">
  select 
  PictureURL
  from tb_picture p,tb_company c
  where c.CompanyID = #{companyID,jdbcType=INTEGER} and c.MemberID = p.MemberID
  
  </select>
  
</mapper>